* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
  @include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
html {
  font: lighter 100%/1.65 "Proxima Nova", sans-serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444; }

small {
  font-size: 65%; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

.tera {
  font-size: 117px;
  font-size: 7.3125rem;
  margin-bottom: 0.22564rem; }

.giga {
  font-size: 90px;
  font-size: 5.625rem;
  margin-bottom: 0.29333rem; }

.mega {
  font-size: 72px;
  font-size: 4.5rem;
  margin-bottom: 0.36667rem; }

.alpha, h1 {
  font-size: 60px;
  font-size: 3.75rem;
  margin-bottom: 0.44rem; }

.beta, h2 {
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 0.55rem; }

.gamma, h3 {
  font-size: 36px;
  font-size: 2.25rem;
  margin-bottom: 0.73333rem; }

.delta, h4 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 1.1rem; }

.epsilon, h5 {
  font-size: 21px;
  font-size: 1.3125rem;
  margin-bottom: 1.25714rem; }

.zeta, h6 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 1.46667rem; }

p {
  margin: auto auto 1.5em; }
  p + p {
    text-indent: 1.5em;
    margin-top: -1.5em; }

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none; }

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

pre {
  white-space: pre; }

code {
  white-space: pre;
  font-family: monospace; }

/**
 * Abbreviations Markup
 *
  <abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222; }

p + .drop-cap {
  text-indent: 0;
  margin-top: 0; }

.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

/**
 * Lining Definition Style Markup
 *
  <dl class="lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.lining dd + dd:before {
  content: ", "; }
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
  <dl class="dictionary-style">
    <dt><b></b></dt>
      <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Blockquote Markup
 *
    <figure>
      <blockquote cite="">
        <p></p>
      </blockquote>
      <figcaption>
        <cite>
          <small><a href=""></a></small>
        </cite>
      </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
  <aside class="pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em; }
  .pull-quote:before, .pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
  <figure>
    <figcaption>
      <strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
  <article>
    <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
    <footer>
      <ol class="foot-notes">
        <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
      </ol>
    </footer>
  </article>
 *
 * Extend this object into your markup.
 *
 */
.sidebar ul {
  margin-left: 1em; }

.box {
  box-sizing: border-box;
  margin-top: 0.8%;
  margin-bottom: 0.8%;
  padding: 1em;
  border-radius: 3px;
  background: #bbbbbb; }

html, body {
  height: 100%;
  background: url(""), #eeeeee; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px; }

.main-header {
  width: 100%;
  height: 5rem;
  background: #333; }

.logo {
  content: "\1F4FD";
  line-height: 5rem; }

.main-nav {
  max-width: 4rem;
  height: 100%;
  -webkit-flex: 1 6 4rem;
  flex: 1 6 4rem;
  -webkit-order: 1;
  order: 1; }
  .main-nav li {
    position: relative;
    width: 4rem;
    height: 4rem;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #cccccc; }
  @media all and (max-width: 640px) {
    .main-nav {
      max-width: 100%; } }

@font-face {
  font-family: "entypo";
  src: url(../assets/font/entypo.ttf);
  font-weight: 400; }

.nav-icon, .nav-home, .nav-about, .nav-contact, .nav-calendar, .nav-gallery {
  top: 0;
  position: absolute;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-size: 80%;
  border-bottom: 1px solid #cccccc; }
  .nav-icon:hover, .nav-home:hover, .nav-about:hover, .nav-contact:hover, .nav-calendar:hover, .nav-gallery:hover {
    content: normal;
    min-width: 4rem;
    padding: 0 1rem 0 3.5rem;
    width: auto;
    border-bottom: 1px solid #cccccc; }
  .nav-icon::before, .nav-home::before, .nav-about::before, .nav-contact::before, .nav-calendar::before, .nav-gallery::before {
    left: 0;
    padding: 0 1rem;
    width: 4rem;
    display: block;
    position: absolute;
    font-family: "entypo";
    font-size: 3rem;
    text-decoration: none !important; }

a:-webkit-any-link {
  text-decoration: none; }

.nav-home {
  vertical-align: middle; }

.nav-home {
  color: transparent;
  background: #eeeeee; }
  .nav-home:hover {
    background: #2ecc71;
    color: #eeeeee; }
    .nav-home:hover::before {
      color: #eeeeee; }
  .nav-home::before {
    content: "\2302";
    color: #2ecc71; }
    .nav-home::before:hover {
      background: #2ecc71;
      color: #eeeeee; }

.nav-about {
  color: transparent;
  background: #eeeeee; }
  .nav-about:hover {
    background: #f1c40f;
    color: #eeeeee; }
    .nav-about:hover::before {
      color: #eeeeee; }
  .nav-about::before {
    content: "\E722";
    color: #f1c40f; }
    .nav-about::before:hover {
      background: #f1c40f;
      color: #eeeeee; }

.nav-contact {
  color: transparent;
  background: #eeeeee; }
  .nav-contact:hover {
    background: #9b59b6;
    color: #eeeeee; }
    .nav-contact:hover::before {
      color: #eeeeee; }
  .nav-contact::before {
    content: "\2709";
    color: #9b59b6; }
    .nav-contact::before:hover {
      background: #9b59b6;
      color: #eeeeee; }

.nav-calendar {
  color: transparent;
  background: #eeeeee; }
  .nav-calendar:hover {
    background: #3498db;
    color: #eeeeee; }
    .nav-calendar:hover::before {
      color: #eeeeee; }
  .nav-calendar::before {
    content: "\1F4C5";
    color: #3498db; }
    .nav-calendar::before:hover {
      background: #3498db;
      color: #eeeeee; }

.nav-gallery {
  color: transparent;
  background: #eeeeee; }
  .nav-gallery:hover {
    background: #c0392b;
    color: #eeeeee; }
    .nav-gallery:hover::before {
      color: #eeeeee; }
  .nav-gallery::before {
    content: "\1F304";
    color: #c0392b; }
    .nav-gallery::before:hover {
      background: #c0392b;
      color: #eeeeee; }

.flexbox {
  display: -webkit-flex;
  display: flex;
  min-height: 79%;
  height: auto;
  -webkit-flex-flow: row;
  flex-flow: row; }

.main-content {
  padding: 0 1em 1em 0;
  -webkit-columns: 30% 3;
  -moz-columns: 30% 3;
  -ms-columns: 30% 3;
  -o-columns: 30% 3;
  columns: 30% 3;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  background: #ddd;
  -webkit-flex: 3 1 60%;
  flex: 3 1 60%;
  -webkit-order: 2;
  order: 2;
  display: block;
  column-count: 3; }

.post {
  float: left;
  margin: 1em 0 0 1em;
  min-width: 28em;
  max-width: 37em;
  width: 32%;
  background: #eee;
  border: 1px solid #cccccc; }
  .post img {
    width: 100%;
    height: auto; }
  .post .post-text {
    overflow: hidden;
    height: auto;
    padding: 1em;
    font-size: 80%; }

.sidebar {
  padding: 1em;
  padding: 1em;
  max-width: 7.5%;
  height: 100%;
  -webkit-flex: 1 6 20%;
  flex: 1 6 20%;
  -webkit-order: 3;
  order: 3; }

.main-footer {
  width: 100%;
  height: 10em;
  background: #123; }

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  .flexbox, .main-content {
    -webkit-flex-flow: column;
    flex-flow: column; }

  .main-content {
    height: auto;
    -webkit-align-items: flex-start;
    align-items: flex-start; }

  .flexbox .main-content, .flexbox .main-nav, .flexbox .sidebar {
    /* Return them to document order */
    -webkit-order: 0;
    order: 0; }

  .flexbox .main-nav, .flexbox .sidebar, header, footer {
    min-height: 50px;
    max-height: 50px; } }
