* {
  margin: 0;
  padding: 0; }

/* html5reset.css - 01/11/2011 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #eeeeee;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #eeeeee;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
  @include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
html {
  font: normal 100%/1.65 "Proxima Nova", sans-serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444; }

small {
  font-size: 65%; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

.tera {
  font-size: 117px;
  font-size: 7.3125rem;
  margin-bottom: 0.22564rem; }

.giga {
  font-size: 90px;
  font-size: 5.625rem;
  margin-bottom: 0.29333rem; }

.mega {
  font-size: 72px;
  font-size: 4.5rem;
  margin-bottom: 0.36667rem; }

.alpha, h1 {
  font-size: 60px;
  font-size: 3.75rem;
  margin-bottom: 0.44rem; }

.beta, h2 {
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 0.55rem; }

.gamma, h3 {
  font-size: 36px;
  font-size: 2.25rem;
  margin-bottom: 0.73333rem; }

.delta, h4 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 1.1rem; }

.epsilon, h5 {
  font-size: 21px;
  font-size: 1.3125rem;
  margin-bottom: 1.25714rem; }

.zeta, h6 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 1.46667rem; }

p {
  margin: auto auto 1.5em; }
  p + p {
    text-indent: 1.5em;
    margin-top: -1.5em; }

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none; }

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

pre {
  white-space: pre; }

code {
  white-space: pre;
  font-family: monospace; }

/**
 * Abbreviations Markup
 *
  <abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222; }

p + .drop-cap {
  text-indent: 0;
  margin-top: 0; }

.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

/**
 * Lining Definition Style Markup
 *
  <dl class="lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.lining dd + dd:before {
  content: ", "; }
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
  <dl class="dictionary-style">
    <dt><b></b></dt>
      <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Blockquote Markup
 *
    <figure>
      <blockquote cite="">
        <p></p>
      </blockquote>
      <figcaption>
        <cite>
          <small><a href=""></a></small>
        </cite>
      </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
  <aside class="pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em; }
  .pull-quote:before, .pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
  <figure>
    <figcaption>
      <strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
  <article>
    <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
    <footer>
      <ol class="foot-notes">
        <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
      </ol>
    </footer>
  </article>
 *
 * Extend this object into your markup.
 *
 */
@font-face {
  font-family: "entypo";
  src: url(../assets/font/entypo.ttf);
  font-weight: 400; }

.icon, .nav-home:before, .nav-about:before, .nav-contact:before, .nav-calendar:before, .nav-gallery:before {
  line-height: 4em;
  vertical-align: middle;
  font-family: "entypo";
  font-size: 2em;
  text-decoration: none !important;
  color: #555555; }

a:-webkit-any-link {
  text-decoration: none; }

.nav-home {
  vertical-align: middle; }

.nav-home:before {
  content: "\2302"; }

.nav-about:before {
  content: "\E722"; }

.nav-contact:before {
  content: "\2709"; }

.nav-calendar:before {
  content: "\1F4C5"; }

.nav-gallery:before {
  content: "\1F304"; }

.nav-home:before {
  content: "\2302"; }

.box {
  box-sizing: border-box;
  padding: 1em;
  margin-top: 0.8%;
  margin-bottom: 0.8%;
  border-radius: 3px;
  background: #bbbbbb; }

html, body {
  background: url(""), #eeeeee;
  height: 100%; }

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.container-12 .span-1-of-12 {
  width: 6.73333%; }

.container-12 .prefix-1 {
  padding-left: 8.33333%; }
.container-12 .suffix-1 {
  padding-right: 8.33333%; }

.container-12 .push-1 {
  left: 8.33333%; }

.container-12 .pull-1 {
  left: -8.33333%; }

.container-12 .span-2-of-12 {
  width: 15.06667%; }

.container-12 .prefix-2 {
  padding-left: 16.66667%; }
.container-12 .suffix-2 {
  padding-right: 16.66667%; }

.container-12 .push-2 {
  left: 16.66667%; }

.container-12 .pull-2 {
  left: -16.66667%; }

.container-12 .span-3-of-12 {
  width: 23.4%; }

.container-12 .prefix-3 {
  padding-left: 25%; }
.container-12 .suffix-3 {
  padding-right: 25%; }

.container-12 .push-3 {
  left: 25%; }

.container-12 .pull-3 {
  left: -25%; }

.container-12 .span-4-of-12 {
  width: 31.73333%; }

.container-12 .prefix-4 {
  padding-left: 33.33333%; }
.container-12 .suffix-4 {
  padding-right: 33.33333%; }

.container-12 .push-4 {
  left: 33.33333%; }

.container-12 .pull-4 {
  left: -33.33333%; }

.container-12 .span-5-of-12 {
  width: 40.06667%; }

.container-12 .prefix-5 {
  padding-left: 41.66667%; }
.container-12 .suffix-5 {
  padding-right: 41.66667%; }

.container-12 .push-5 {
  left: 41.66667%; }

.container-12 .pull-5 {
  left: -41.66667%; }

.container-12 .span-6-of-12 {
  width: 48.4%; }

.container-12 .prefix-6 {
  padding-left: 50%; }
.container-12 .suffix-6 {
  padding-right: 50%; }

.container-12 .push-6 {
  left: 50%; }

.container-12 .pull-6 {
  left: -50%; }

.container-12 .span-7-of-12 {
  width: 56.73333%; }

.container-12 .prefix-7 {
  padding-left: 58.33333%; }
.container-12 .suffix-7 {
  padding-right: 58.33333%; }

.container-12 .push-7 {
  left: 58.33333%; }

.container-12 .pull-7 {
  left: -58.33333%; }

.container-12 .span-8-of-12 {
  width: 65.06667%; }

.container-12 .prefix-8 {
  padding-left: 66.66667%; }
.container-12 .suffix-8 {
  padding-right: 66.66667%; }

.container-12 .push-8 {
  left: 66.66667%; }

.container-12 .pull-8 {
  left: -66.66667%; }

.container-12 .span-9-of-12 {
  width: 73.4%; }

.container-12 .prefix-9 {
  padding-left: 75%; }
.container-12 .suffix-9 {
  padding-right: 75%; }

.container-12 .push-9 {
  left: 75%; }

.container-12 .pull-9 {
  left: -75%; }

.container-12 .span-10-of-12 {
  width: 81.73333%; }

.container-12 .prefix-10 {
  padding-left: 83.33333%; }
.container-12 .suffix-10 {
  padding-right: 83.33333%; }

.container-12 .push-10 {
  left: 83.33333%; }

.container-12 .pull-10 {
  left: -83.33333%; }

.container-12 .span-11-of-12 {
  width: 90.06667%; }

.container-12 .prefix-11 {
  padding-left: 91.66667%; }
.container-12 .suffix-11 {
  padding-right: 91.66667%; }

.container-12 .push-11 {
  left: 91.66667%; }

.container-12 .pull-11 {
  left: -91.66667%; }

.container-12 .span-12-of-12 {
  width: 98.4%; }

.container-12 .prefix-12 {
  padding-left: 100%; }
.container-12 .suffix-12 {
  padding-right: 100%; }

.container-12 .push-12 {
  left: 100%; }

.container-12 .pull-12 {
  left: -100%; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.main-header {
  width: 100%;
  height: 5em;
  background: #333; }

.main-nav {
  float: left;
  width: 4em;
  height: 100%;
  border-right: 1px solid #cccccc; }
  .main-nav li {
    height: 4em;
    width: 4em;
    border-bottom: 1px solid #cccccc; }
    .main-nav li:hover {
      width: 28em; }
      .main-nav li:hover a {
        display: block; }
  .main-nav a {
    line-height: 2em;
    display: none; }
    .main-nav a:hover {
      content: normal;
      display: block; }

.main-content {
  float: left;
  background: #ddd; }

.post {
  margin: 1em 0 0 1em;
  max-width: 37em; }
  .post img {
    width: 100%;
    height: auto; }
  .post .post-text {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc; }

.sidebar {
  height: 100%;
  border-left: 1px solid #cccccc;
  padding: 1em;
  float: right; }

.main-footer {
  float: left;
  width: 100%;
  height: 10em;
  background: #123; }
