//////////////////////////////////////////////////////////////////////////
// Declare all variables in this file and import it first in style.scss //
//////////////////////////////////////////////////////////////////////////

// Background
$bg-col: #eee; // Fallback main color
$bg-img: url(''), $bg-col; // For use 
$background: $bg-img;
