//////////////////////////////////////////////////////////////////////////
// Declare all variables in this file and import it first in style.scss //
//////////////////////////////////////////////////////////////////////////

// Background
$bg-col: #eee; // Fallback main color
$bg-img: url(''), $bg-col; // For use 
$background: $bg-img; 

// Styling
$border-1: 1px solid #ccc;
// Header
$header-size: 5rem;
// Navigation
$nav-size: 4rem;

$nav-base-col: $bg-col !default;
$nav-home-col: rgba(46, 204, 113,1.0); // Emerald, green
$nav-about-col: rgba(241, 196, 15,1.0); // Sun Flower, yellow
$nav-contact-col: rgba(155, 89, 182,1.0); // Amethyst, purple
$nav-calendar-col: rgba(52, 152, 219,1.0); // Peter River, blue
$nav-gallery-col: rgba(192, 57, 43,1.0); // Pomegranate, red

