//////////////////////////////////
//                              //
// Stylesheet for Grid template //
// Author: Adam Hjerpe          //
// Licence: MIT                 //
//                              //
//////////////////////////////////
* { margin: 0; padding: 0;}

// Variable and mixin import
// Keep this as first import, other stylesheets may be dependent on this file.
@import "var";
@import "mixin";

// Compass import
@import "compass";

// CSS reset
@import "reset";

// Grid import
// @import "grid";
@import "12col";

// Typeplate import
@import "typeplate";
@import "icon";

.box {
  box-sizing: border-box;
  padding: 1em;
  margin-top: 0.8%;
  margin-bottom: 0.8%;
  border-radius: 3px;
  background: darken($bg-col, 20%);
}

html, body {
  background: $background;
  height: 100%;
} //html, body

@include generate-grid;
.wrapper {
  // background: darken($bg-col, 20%);
  max-width: 1200px;
  margin: 0 auto;
} //.wrapper

.main-header {
  @extend .span_12_of_12;
} //.main-header

.logo {

} //.logo

.main-nav {

  ul {

  } //ul
  li {

  } //li
  a{

  }  //a
} //.main-nav

.main-content {
  
} //.main.content

.post {
  @extend .span-8-of-12;
} //.post

.sidebar {
  @extend .span-4-of-12;
} //.sidebar

.main-footer {

} //.main-footer