//////////////////////////////////
//                              //
// Stylesheet for Grid template //
// Author: Adam Hjerpe          //
// Licence: MIT                 //
//                              //
//////////////////////////////////
* { margin: 0; padding: 0;}

// Variable and mixin import
// Keep this as first import, other stylesheets may be dependent on this file.
@import "var";
@import "mixin";

// Compass import
@import "compass";

// CSS reset
@import "reset";

// Grid import
// @import "grid";
@import "12col";

// Typeplate import
@import "typeplate";
@import "icon";

.box {
  box-sizing: border-box;
  padding: 1em;
  margin-top: 0.8%;
  margin-bottom: 0.8%;
  border-radius: 3px;
  background: darken($bg-col, 20%);
}

html, body {
  background: $background;
  height: 100%;
} //html, body

@include generate-grid;
.wrapper {
  // background: darken($bg-col, 20%);
  max-width: 1200px;
  margin: 0 auto;
} //.wrapper

.main-header {
  width: 100%;
  height: 5em;
  background: #333;
} //.main-header

.logo {

} //.logo
$nav-size: 4em;
.main-nav {
  float: left;
  width: $nav-size;
  height: 100%;
  border-right: $border-1;
  ul {

  } //ul
  li {

    height: $nav-size;
    width: $nav-size;
    border-bottom: $border-1;
      &:hover{
        width: $nav-size * 7;
       a {
        display: block;
      }
    }
  } //li

  a{
    line-height: $nav-size / 2;
    display: none;
    &:hover {
      content: normal;
      display: block;
    }
  }  //a
} //.main-nav

.main-content {
  //border-left: $border-1;
  float: left;
  background: #ddd;
} //.main.content

.post {
  margin: 1em 0 0 1em;
  max-width: 37em;
  //width:30%;
  img {
    width: 100%;
    height: auto;
  } //img
  .post-text {
    border-left: $border-1;
    border-right: $border-1;
  }
} //.post

.sidebar {
  height: 100%;
  border-left: $border-1;
  padding: 1em;
  float: right;
} //.sidebar

.main-footer {
  float: left;
  width: 100%;
  height: 10em;
  background: #123;

} //.main-footer